/* CSS Document */

.login { /* ------- Login----------*/
	width: 265px;
	background-color: #dee8ea;
	color: #000;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
}
#login_right
{
	width: 291px;
	height: 185px;
	float: left;
	margin-left: 10px;
	margin-top: 30px;
	padding:10px;
	border:1px solid #dee8ea;

}

#login_left
{
	width: 30%;
	height: 185px;
	float: right;
	margin-right: 10px;
	margin-top: 30px;
	padding:10px;
	border:1px solid #dee8ea;

}