
<%= error_messages_for 'payergroup' %>

<!--[form:payergroup]-->
<p class="sec_title"><label for="payergroup_payergroupname">Payergroupname</label><br/>
<%= text_field 'payergroup', 'payergroupname', :class => 'black_text'%></p>
<!--[eoform:payergroup]-->

