<% for column in Payergroup.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @payergroup.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @payergroup %> |
<%= link_to 'Back', :action => 'list' %>
