<% for column in Facility.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @facility.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @facility %> |
<a href="javascript:history.go(-1)">Back</a>
