<div id="login_main">
<h1>Editing shift</h1>

<% form_tag :action => 'update', :id => @shift do %>
  <%= render :partial => 'form' %>
	<%= submit_tag 'Edit', :class => 'button' %>
<% end %>

<br/>
<%= link_to image_tag("arrow_undo.png", :alt => "Back"), :action => 'list'%>
</div>
