<h4><%= link_to 'TAT Report', :action => 'tat_report' %>  |  <%= link_to 'Distribution', :action => 'distribution' %>  |  <%= link_to 'TAT Compliance', :action => 'tat_compliance' %>  |  Next Shift<h4>

<h1>Next Shift</h1>