<%= error_messages_for 'sqa_job_setting' %>

<!--[form:sqa_job_setting]-->

<table>
<tr><th>No. of Jobs in Super QA worklist</th><td><%= text_field 'sqa_job_setting', 'value', 'size' => 2  %></td></tr>

</table>


<!--[eoform:sqa_job_setting]-->

